html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  position:relative;
  background: url(unraw_travelling-CoD2Q92UaEg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font: 16px/1 sans-serif;
  text-shadow:
    -1px -1px 0 rgba(16, 16, 16, .2),
    1px -1px 0 rgba(16, 16, 16, .2),
    1px 1px 0 rgba(16, 16, 16, .2),
    -1px 1px 0 rgba(16, 16, 16, .2),
    0 3px 5px rgba(16, 16, 16, .5);
}

a {
  color:#fff;
  text-decoration:none;
}

a.toggle {
  display:inline-block;
  padding:20px;
}

h1 {
  font: 54px/1 sans-serif;
  margin: 0;
}

h2 {
  font: 16px/1 sans-serif;
  margin: 0;
}

h3 {
  color:#888;
  font:15px/1 sans-serif;
  margin:0 0 7px 0;
}

#hello {
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border: 0;
}
#hello td {
  vertical-align:middle;
  text-align:center;
}
#time {
  font: 172px/1 sans-serif;
}

#todo_panel {
  position:absolute;
  right:0;
  bottom:0;
  text-shadow:none;
}
#todo_panel h2 {
  text-align:right;
}

.panel {
  color:#fff;
  font:15px/1 sans-serif;
  background-color:rgba(16, 16, 16, .9);
  width:300px;
  padding:11px 13px;
  margin:0 2px;
}

#todo_list {
  /*display:none;*/
}

ul.tasks {
  list-style-type:none;
  padding:0;
  margin:0 0 7px 0;
}
ul.tasks li {
  padding:3px 0;
  margin:0;
  clear:both;
}
ul.tasks li img {
  float:right;
  visibility:hidden;
  width:16px;
  height:16px;
  margin-right:1px;
  margin-left:10px;
  filter:invert(70%);
  -webkit-filter:invert(70%);
}
ul.tasks li .date {
  float:right;
}
ul.tasks li img:hover {
  filter:invert(100%);
  -webkit-filter:invert(100%);
}
ul.tasks li:hover img {
  visibility:visible;
  cursor:pointer;
}
ul.tasks li input[type="checkbox"] {
  float:left;
  margin-top:2px;
  margin-left:-1px;
}
ul.tasks li label {
  display:block;
  margin-left:18px;
  margin-right:20px;
}
ul.tasks li.done label {
  color:#888;
  text-decoration:line-through;
}
#todo_list ul.tasks li .date {
  display:none;
}
#todo_list input[type="text"] {
  width:100%;
  color:#fff;
  background-color:rgba(0,0,0,0);
  font:15px/1 sans-serif;
  padding:0;
  outline:0;
  border:0
}

#completed_panel {
  position:absolute;
  left:0;
  bottom:0;
  text-shadow:none;
}
#completed_cont {
  display:none;
  width:400px;
}

#completed_cont ul.tabs {
  display:none; /* TODO: implement me. */
  list-style-type:none;
  width:100%;
  padding:0;
  margin:0;
}
#completed_cont ul.tabs li {
  float:left;
  width:25%;
  text-align:center;
  padding:0;
  margin:0;
}
#completed_cont ul.tabs li a {
  display:block;
  padding:3px;
  border-right:1px solid #888;
}
#completed_cont ul.tabs li:last-child a {
  border-right:none;
}
#completed_cont ul.tabs li a:hover { text-decoration:underline; }
#completed_list {
  clear:both;
  padding-top:10px;
}
#completed_list ul.tasks li label {
  margin-right:80px;
}
#completed_list ul.tasks li.done label {
  text-decoration:none;
}

